.reveal dl {
	text-align: left;
}

.reveal dd {
	margin-left: 2rem;
}

.reveal section img {
	height: auto;
	max-width: 100%;
}

.reveal section img.plain {
	border: 0 none;
	box-shadow: none;
}

.reveal .align-left {
	text-align: left;
}

.reveal table {
	border: 1px solid #666;
	border-collapse: collapse;
	margin: 1rem 0;
	width: 100%;
}

.reveal th,
.reveal td {
	border: 1px solid #666;
}

.reveal th {
	font-weight: bold;
}